
/* Colors
-------------------------------- */

/* Settings
-------------------------------- */

/* Styling
-------------------------------- */

.checkbox {
  height: rem-calc(20);
  position: relative;

  svg {
    position: absolute;
    top: 2px;
    left: 0;
  }

  svg, span {
    cursor: pointer;
  }

  span {
    display: inline-block;
    padding-left: rem-calc(24);
    line-height: rem-calc(20);
    font-size: rem-calc(14);
  }

  &.error {
    svg {
      fill: $alertColor;
    }

    span {
      color: $alertColor;
    }
  }
}
