
<div class="alert-box" v-bind:class="{
    primary: type === 'primary',
    secondary: type === 'secondary',
    success: type === 'success',
    warning: type === 'warning',
    alert: type === 'alert'
  }" transition="fade" v-show="messages.length > 0">
  <ul>
    <li v-for="message in messages" track-by="$index">{{ message }}</li>
  </ul>
  <button class="close-button" aria-label="Dismiss alert" type="button" v-if="canClose" v-on:click="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
