
////
/// @group color palette
////

$primary-color: #2199e8 !default;
$secondary-color: #777 !default;
$success-color: #3adb76 !default;
$warning-color: #ffae00 !default;
$alert-color: #ec5840 !default;

$white: #fefefe !default;
$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;

$overlay-opacity: 0.6;

////
/// @group global
////

$global-font-size: 100% !default;
$global-width: rem-calc(1200) !default;
$global-lineheight: 1.5 !default;

$body-background: $white !default;
$body-font-color: $black !default;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

$global-margin: 1rem !default;
$global-padding: 1rem !default;
$global-weight-normal: normal !default;
$global-weight-bold: bold !default;
$global-radius: 0 !default;

$breakpoint-medium: 600px;
$breakpoint-large: 1200px;

////
/// @group type
////

$base-font-size: 16 !default;

$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: $base-font-size;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: 20;
$paragraph-aside-font-size: 14;
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: #222;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

$h1-font-size: 44 !default;
$h2-font-size: 37 !default;
$h3-font-size: 27 !default;
$h4-font-size: 23 !default;
$h5-font-size: 18 !default;
$h6-font-size: $base-font-size !default;

$small-font-size: 60%;
$small-font-color: scale-color($header-font-color, $lightness: 35%);

$anchor-text-decoration: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);

$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: #ddd;
$hr-margin: 20px;

////
/// @group grid
////

$grid-row-width: $global-width !default;
$grid-column-count: 12 !default;
$grid-column-gutter: 30px !default;
// $grid-column-align-edge: true !default;
$block-grid-column-count: 8 !default;

////
/// @group lists
////

$list-inline-padding: $global-padding !default;
$list-inline-spacing: rem-calc(8) !default;

////
/// @group buttons
////



////
/// @group ForgeUI-loader
////

$loader-color: $black !default;

////
/// @group ForgeUI-alert
////

$alert-message-padding: 4px !default;

////
/// @group ForgeUI-modal
////

$modal-size-default: 580px !default;
$modal-size-small: 300px !default;
$modal-padding: $global-padding !default;
$modal-background-color: $body-background !default;
$modal-overlay-color: rgba($black, $overlay-opacity) !default;

////
/// @group ForgeUI-prompt
////

$prompt-width: 400px !default;
$prompt-padding: $global-padding !default;
$prompt-background-color: $body-background !default;
$prompt-overlay-color: rgba($black, $overlay-opacity) !default;

////
/// @group ForgeUI-tabs
////

$tab-content-padding: $global-padding !default;

$tab-nav-font-color: $dark-gray !default;
$tab-nav-font-color-hover: $body-font-color !default;
$tab-nav-font-color-active: $body-font-color !default;
$tab-nav-border-color: $body-font-color !default;
$tab-nav-padding: 4px 10px !default;
