
////
/// @group color palette
////

$primary-color: #2199e8 !default;
$secondary-color: #777 !default;
$success-color: #3adb76 !default;
$warning-color: #ffae00 !default;
$alert-color: #ec5840 !default;

$white: #fefefe !default;
$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;

$overlay-opacity: 0.6 !default;

////
/// @group global
////

$global-font-size: 100% !default;
$global-font-color: #0a0a0a !default;
$global-width: rem-calc(1200) !default;
$global-lineheight: 1.5 !default;

$body-background: $white !default;
$body-font-color: $black !default;
$body-font-family: 'Open Sans', sans-serif !default;

$global-margin: 1rem !default;
$global-padding: 1rem !default;
$global-weight-normal: normal !default;
$global-weight-bold: bold !default;
$global-radius: 2px !default;

$breakpoint-medium: 600px !default;
$breakpoint-large: 1200px !default;

////
/// @group type
////

$base-font-size: 16 !default;

$paragraph-font-family: inherit !default;
$paragraph-font-weight: normal !default;
$paragraph-font-size: $base-font-size !default;
$paragraph-line-height: 1.6 !default;
$paragraph-margin-bottom: 20 !default;
// $paragraph-aside-font-size: 14 !default;
// $paragraph-aside-line-height: 1.35 !default;
// $paragraph-aside-font-style: italic !default;
$paragraph-text-rendering: optimizeLegibility !default;

$header-font-family: 'Hind', sans-serif !default;
$header-font-weight: bold !default;
$header-font-style: normal !default;
$header-font-color: #222 !default;
$header-line-height: 1.4 !default;
$header-top-margin: .2rem !default;
$header-bottom-margin: .5rem !default;
$header-text-rendering: optimizeLegibility !default;

$h1-font-size: 44 !default;
$h2-font-size: 37 !default;
$h3-font-size: 27 !default;
$h4-font-size: 23 !default;
$h5-font-size: 18 !default;
$h6-font-size: $base-font-size !default;

$small-font-size: 60% !default;
$small-font-color: scale-color($header-font-color, $lightness: 35%) !default;

$anchor-text-decoration: none !default;
$anchor-font-color: $primary-color !default;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%) !default;

$hr-border-width: 1px !default;
$hr-border-style: solid !default;
$hr-border-color: $medium-gray !default;
$hr-margin: 20px !default;

////
/// @group grid
////

$grid-row-width: $global-width !default;
$grid-column-count: 12 !default;
$grid-column-gutter: 30px !default;
$block-grid-column-count: 8 !default;

////
/// @group lists
////

$list-inline-padding: $global-padding !default;
$list-inline-spacing: rem-calc(8) !default;

////
/// @group buttons
////

$button-color: #fefefe !default;
$button-font-size: 14 !default;
$button-font-family: inherit !default;
$button-line-height: 1 !default;
$button-hover-darken: 10% !default;
$button-border-color: transparent !default;
$button-border-size: 1px !default;
$button-border-style: solid !default;
$button-hollow-border-size: 1px !default;
$button-hollow-border-style: solid !default;
$button-radius: $global-radius !default;
$button-padding: 0.85em 1em !default;
$button-margin: 0 0 1rem 0 !default;

$button-background-color-default: $primary-color !default;
$button-background-color-secondary: $secondary-color !default;
$button-background-color-success: $success-color !default;
$button-background-color-warning: $warning-color !default;
$button-background-color-alert: $alert-color !default;

$button-background-color-hover-default: darken($button-background-color-default, $button-hover-darken) !default;
$button-background-color-secondary-hover: darken($secondary-color, $button-hover-darken) !default;
$button-background-color-success-hover: darken($success-color, $button-hover-darken) !default;
$button-background-color-warning-hover: darken($warning-color, $button-hover-darken) !default;
$button-background-color-alert-hover: darken($alert-color, $button-hover-darken) !default;

$button-tiny-font-size: 10 !default;
$button-small-font-size: 12 !default;
$button-large-font-size: 20 !default;

////
/// @group forms
////

$form-field-background-color: transparent !default;
$form-field-color: $global-font-color !default;
$form-field-line-height: 1.5 !default;
$form-field-font-size: 16 !default;
$form-field-font-family: inherit !default;
$form-field-font-weight: normal;
$form-field-border-color: #cacaca !default;
$form-field-border-size: 1px !default;
$form-field-border-style: solid !default;
$form-field-padding: 0.5rem !default;
$form-field-margin: 0 0 $global-margin !default;
$form-field-height: 2.4375rem !default;
$form-field-width: 100% !default;
$form-field-radius: $global-radius !default;
$form-field-shadow-color: rgba(10, 10, 10, 0.1) !default;

////
/// @group table
////

$table-zebra-stripe-background-color: lighten($light-gray, 4%) !default;
$table-cell-padding: $global-padding / 2 $global-padding !default;
$table-head-border: 1px solid $medium-gray !default;

////
/// @group pills
////

$pill-radius: $global-radius !default;
$pill-background-color-default: $light-gray !default;

////
/// @group ForgeUI-loader
////

$loader-color: $black !default;

////
/// @group ForgeUI-alert
////

$alert-background-color-default: transparent !default;
$alert-background-color-primary: #d7ecfa !default;
$alert-background-color-secondary: #eaeaea !default;
$alert-background-color-success: #e1faea !default;
$alert-background-color-warning: #fff3d9 !default;
$alert-background-color-alert: #f7e4e1 !default;
$alert-border-color: rgba(10, 10, 10, 0.25);
$alert-message-padding: 4px !default;

////
/// @group ForgeUI-modal
////

$modal-size-default: 580px !default;
$modal-size-small: 300px !default;
$modal-padding: $global-padding !default;
$modal-background-color: $body-background !default;
$modal-overlay-color: rgba($black, $overlay-opacity) !default;

////
/// @group ForgeUI-prompt
////

$prompt-width: 400px !default;
$prompt-padding: $global-padding !default;
$prompt-background-color: $body-background !default;
$prompt-overlay-color: rgba($black, $overlay-opacity) !default;

////
/// @group ForgeUI-tabs
////

$tab-content-padding: $global-padding !default;

$tab-nav-font-color: $dark-gray !default;
$tab-nav-font-color-hover: $body-font-color !default;
$tab-nav-font-color-active: $body-font-color !default;
$tab-nav-border-color: $body-font-color !default;
$tab-nav-padding: 4px 10px !default;
