

/* Settings
-------------------------------- */

$promptBackgroundColor: white; // TODO change to content background variable
$promptOverlayColor: rgba(0, 0, 0, 0.6);

/* Styling
-------------------------------- */

.prompt {
  position: fixed;
}

.prompt-overlay {
  position: absolute;
  background-color: $promptOverlayColor;
}

.prompt, .prompt-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.prompt-content {
  position: absolute;
  width: rem-calc(400);
  top: 50%;
  left: 50%;
  padding: 30px; // TODO change to global content padding variable
  transform: translateX(-50%) translateY(-50%);
  background-color: $promptBackgroundColor;
}
