
.f-radio {
  > label {
    display: block;
    margin-bottom: 0.3rem;
  }


  &__option {
    display: inline-block;

    .error & {
      color: $alert-color;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
