
.f-radio {
  > label {
    display: block;
    margin-bottom: 0.3rem;
  }

  &.error {
    color: $alert-color;
  }

  &__option {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
