
/* Settings
-------------------------------- */

// TODO move to a global
$tabNavFontColor: #999;
$tabNavFontColorHover: black;
$tabNavFontColorActive: black;
// $tabNavBackgroundColor: white;
// $tabNavBackgroundColorHover: #bbb;
// $tabNavBackgroundColorActive: #999;
$tabNavBorderColor: black;
$tabNavPadding: rem-calc(4) rem-calc(10);

/* Styling
-------------------------------- */

.tabs {
  margin-bottom: 20px;
}

ul.tab-nav {
  width: 100%;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid $tabNavBorderColor;
  margin: 0 0 20px;

  li {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    color: $tabNavFontColor;
    padding: $tabNavPadding;

    &.active {
      color: $tabNavFontColorActive;
      border-bottom: 3px solid $tabNavBorderColor;
    }

    &:hover {
      color: $tabNavFontColorHover;
    }
  }
}
