
.tab {
  padding-top: $tab-content-padding;
}

ul.tab-nav {
  width: 100%;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid $tab-nav-border-color;
  margin: 0;

  li {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    color: $tab-nav-font-color;
    padding: $tab-nav-padding;

    &.active {
      color: $tab-nav-font-color-active;
      border-bottom: 3px solid $tab-nav-border-color;
    }

    &:hover {
      color: $tab-nav-font-color-hover;
    }
  }
}
