
// TODO move to globals
$modalBackgroundColor: white;
$modalOverlayColor: rgba(0, 0, 0, 0.6);
$zIndexModal: 1000;

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: $modalOverlayColor;
  z-index: $zIndexModal;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
  padding: 30px;
  max-width: rem-calc(580);
  background-color: $modalBackgroundColor;

  &.small {
    max-width: rem-calc(300);
  }

  &.full {
    max-width: 100%;
  }

  [aria-label="Close"] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: rem-calc(20);
    line-height: rem-calc(30);
    width: rem-calc(30);
    text-align: center;
    cursor: pointer;
  }

  // TODO add padding on top and bottom for desktop... and tablet??
}
