
<label class="f-input">
  {{ label }}
  <div class="input-wrap">
    <i :class="['fa', 'fa-' + icon]" v-if="icon"></i>
    <textarea v-if="type === 'textarea'"
      ref="input"
      :class="{ 'error': error.length > 0 }"
      :name="name"
      :placeholder="placeholder"
      v-model="inputValue"
      @change="debounceValidate"
      @blur="validate"></textarea>
    <input v-else
      ref="input"
      :class="{ 'error': error.length > 0 }"
      :name="name"
      :placeholder="placeholder"
      type="text"
      v-model="inputValue"
      @change="debounceValidate"
      @blur="validate" />
    <small v-if="error.length > 0" transition="slide-up-x-small" class="error">{{ error }}</small>
  </div>
</label>
