
@mixin block-grid ($per-row) {
  & > .column {
    width: (100%/$per-row);

    $nth: #{$per-row}n + '+' + 1;
    &:nth-of-type(n) { clear: none; }
    &:nth-of-type(#{$nth}) { clear: both; }
  }
}

@mixin block-grids($size) {
  @for $i from 1 through $block-grid-column-count {
    .#{$size}-up-#{$i}  { @include block-grid($i); }
  }
}

.row {
  &[class*="-up-"] {
    & > .column {
      display: block;
      float: left;
      margin: 0;
      padding: 0 ($grid-column-gutter / 2) $grid-column-gutter ($grid-column-gutter / 2);
    }
  }
}

@include small-only { @include block-grids('small') }
@include medium-only { @include block-grids('medium') }
@include large-up { @include block-grids('large') }
