

.button {
  &.inline-form {
    margin-top: rem-calc(24); // TODO wire this into foundation vars
    margin-bottom: 0;

    @include breakpoint(small only) {
      .small-12 & {
        margin-top: 0;
      }
    }
  }
}
