
ul, ol {
  &.inline {
    margin: 0;
    padding: 0 0 $list-inline-padding;

    li {
      display: inline-block;
      padding: 0;
      list-style: none;
      margin-bottom: $global-margin;

      &:not(:last-child) {
        margin-right: $list-inline-spacing;
      }
    }
  }
}

dl {
  dt {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  dd {
    margin: 0 0 $global-margin;
  }
}
