
.inline-list {
  margin: 0;
  padding: 0 0 $inline-list-padding;

  li {
    display: inline-block;
    padding: 0;
    list-style: none;

    &:not(:last-child) {
      margin-right: $inline-list-spacing;
    }
  }
}
