

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
  }

  th, td {
    padding: $table-cell-padding;
  }

  thead {
    border-bottom: $table-head-border;
  }

  tbody {
    tr:nth-of-type(even) {
      background-color: $table-zebra-stripe-background-color;
    }
  }
}
